*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body
{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #098F7D;
  padding: 30px;
}

.container
{
  height: 500px;
  width: 500px;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 2); 
  text-align: -webkit-center;
  border-radius: 25px;
}

.container .form-content
{
  align-items: center;
  justify-content: Center;

}

.container .form
{
  height: 100%;
  width: 100%;
  background: #fff;

}

.form-content .login-form
{
  width: 50%;
}

form .form-content .title{
  color: #607d8b;
  font-weight: 600;
  font-size: 1cm;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #ff4584;
  display: block;
  letter-spacing: 1px;
  text-align: center;
  padding: 20px 10px;
}

form .form-content .input-boxes
{
  margin-top: 30px;
}

form .form-content .input-box
{
  height: 10px;
  width: 100%;
}

.form-content .input-box input
{
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
}

form .form-content .button
{
  color: #fff;
}

form .form-content .button input
{
  color: #fff;
  background: deeppink;
}

form .form-content .button input:hover
{
  background: #fff ;
  color: #607d8b;
  outline: #000;
}

form .form-content .text
{
  text-align: center;
  margin-top: 30px;
}


   